body{
    background: rgb(11, 220, 243);
    color: rgb(3, 3, 3);
}
header {
    border-bottom: solid 2px rgb(10, 10, 10);
    padding: 20px;
    font-size: 32px;
    color: rgb(3, 3, 3);
}
section {
    background: rgb(11, 220, 243);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
img {
  height: 200px;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}